@font-face {
  font-family: 'Samsung One Regular';
  src: url(../fonts/samsung-one-regular.woff) format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'Samsung One Bold';
  src: url(../fonts/samsung-one-bold.woff) format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Samsung Sharp Sans Regular';
  src: url(../fonts/samsung-sharp-sans.woff) format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Samsung Sharp Sans Medium';
  src: url(../fonts/samsung-sharp-sans-medium.woff) format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Samsung Sharp Sans Bold';
  src: url(../fonts/samsung-sharp-sans-bold.woff) format('woff');
  font-weight: 700;
}


:root {

  /* fonts  variables*/
  --font-main: 'Samsung Sharp Sans Regular';
  --font-bold: 'Samsung Sharp Sans Bold';
  --font-medium: 'Samsung Sharp Sans Medium';
  --font-alt: 'Samsung One Regular';

  /* font size variables */

  --font-size-xl: 80px;
  --font-size-lg: 50px; 
  --font-size-md: 40px; 
  --font-size-sm: 24px; 
  --font-size-xs: 16px; 
  --font-size-xxs: 10px; 
  --font-size-xxxs: 6px; 

    /* color variales */
  
  --c-white: #fff;
  --c-black: #000000;
  --c-grey: #808080;

  /* other varibles */
  --border-style: 4px solid var(--c-black);

}
