
/* #region: Main part */

/* #endregion */


/* #region:  Page Settings */
body {
  background: url(../assets/background.png) center/cover no-repeat;
  font-family: "Samsung Sharp Sans Regular";
}
/* #endregion: Main Page Background */

/* #region: General styles */

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.banner__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid var(--c-black);
  width: 100%;
  height: 100%;
  max-height: 1200px;
  max-width: 1600px;
  overflow: hidden;
}

/* #endregion */

/* #region: Permanent elements */
.banner__content {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  width: 95%;
  height: 100%;
}

.banner__logo {
  position: absolute;
  left: 0;
  top: 150px;
}

.banner__button {
  font-family: 'Samsung One Regular';
  font-size: 40px;
  position: absolute;
  bottom: 50px;
  left: 50px;
  z-index: 1;
  padding: 10px 40px;
  text-transform: uppercase;
  background-color: inherit;
  border: 4px solid var(--c-black);
  color: var(--c-black);
  cursor: pointer;
  opacity: 0;
  display: none;
  border-radius: 60px;
}

.banner__trademark {
  font-family: 'Samsung Sharp Sans Medium';
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 50px;
  color: var(--c-white);
}

.banner__text {
  position: absolute;
  top: 150px;
  left: 0;
}

.banner__main-text {
  font-family: 'Samsung Sharp Sans Bold';
  font-size: 40px;
}

.banner__main-text-line {
  display: inline-block;
}

.banner__main-text-logo {
  max-width: 220px;
}

/* #endregion */

/* #region: Special offer part */
.banner__special-offer {
  position: absolute;
  bottom: 80px;
  left: 0;
}

.banner__special-offer-product {
  display: inline-block;
  font-family: 'Samsung Sharp Sans Regular';
  font-size: 80px;
  color: var(--c-white);
  text-transform: uppercase;
}

.banner__special-offer-price {
  display: inline-block;
  font-family: 'Samsung Sharp Sans Bold';
  font-size: 45px;
  color: var(--c-white)
}

.banner__note {
  position: absolute;
  bottom: 15px;
  left: 0;
  font-family: 'Samsung Sharp Sans Regular';
  color: var(--c-grey);
}
/* #endregion */

/* #region: Main layer */

.banner__main-image {
  background: url(../assets/main-image.png) center/cover no-repeat;
  width: 100%;
  height: 100%;
}

.banner__white-space {
  background-color: var(--c-white);
  height: 100%;
  width: 0%;
}
/* #endregion */

/* #region: Slider part */
.banner__slider-image {
  height: 100%;
  width: 0%;
}

.slider__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner__slider-text {
  position: absolute;
  left: 50px;
  bottom: 250px;
  z-index: 1;
  opacity: 0;
}

.slider__text {
  font-family: 'Samsung Sharp Sans Regular';
  font-size: 24px;
  width: 40%;

}

.slider__text-button {
  font-family: 'Samsung Sharp Sans Regular';
  font-size: 24px;
  padding: 0;
  color: var(--c-grey);
  background: transparent;
  border: none;
  cursor: pointer;
}

.slider__navigation {
  position: absolute;
  left: 50px;
  bottom: 180px;
  display: flex;
  z-index: 1;
  opacity: 0;
}

.slider__navigation-page {
  font-family: 'Samsung Sharp Sans Bold';
  margin-inline: 10px;
  color: var(--c-black);
}

.slider__navigation-prev,
.slider__navigation-next {
  font-family: 'Samsung Sharp Sans Regular';
  font-size: 36px;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--c-black);
}


/* #endregion */