/* #region: Page Settings */
body {
  background: url(../assets/background.png) center/cover no-repeat;
  font-family: var(--font-main);
}
/* #endregion: Main Page Background */

/* #region: General styles */

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.banner__container {
  position: relative;
  display: flex;
  border: var(--border-style);
  width: 95%;
  height: 95%;
  max-height: 1200px;
  max-width: 1600px;
  overflow: hidden;
}

.newpage-link {
  text-decoration: none;
  color: inherit;
}

/* #endregion */
.banner__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 100px;
}
.banner__middle {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: auto;
}
.banner__bottom {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: auto;
}

/* #region: Permanent elements */
.banner__content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  right: 0;
  overflow: hidden;
  width: 95%;
  height: 100%;
}

.banner__logo {
  position: absolute;
  width: clamp(100px, 150px, 275px);
  left: 0;
  top: 150px;
}

.banner__button {
  font-family: var(--font-alt);
  font-size: 2rem;
  position: absolute;
  bottom: 50px;
  left: 50px;
  z-index: 1;
  padding: 10px 20px;
  text-transform: uppercase;
  background-color: inherit;
  border: var(--border-style);
  color: var(--c-black);
  cursor: pointer;
  opacity: 0;
  display: none;
  border-radius: 60px;
}

.banner__trademark {
  font-family: var(--font-medium);
  position: absolute;
  top: 30px;
  right: 50px;
  font-size: clamp(var(--font-size-xxs), 2rem, var(--font-size-lg));
  color: var(--c-white);
}

.banner__text {
  position: absolute;
  top: 150px;
  left: 0;
}
.banner__main-text {
  font-family: var(--font-bold);
  font-size: clamp(14px, 3rem, var(--font-size-md));
  line-height: normal;
}

.banner__main-text-line {
  display: inline-block;
}

.banner__main-text-logo {
  max-width: 220px;
  height: 1em;
  
}

/* #endregion */

/* #region: Special offer part */
.banner__special-offer {
  position: absolute;
  bottom: 80px;
  left: 0;
}

.banner__special-offer-product {
  display: inline-block;
  font-size: var(--font-size-xl);
  color: var(--c-white);
  text-transform: uppercase;
}

.banner__special-offer-price {
  display: inline-block;
  font-family: var(--font-bold);
  font-size: 45px;
  color: var(--c-white)
}

.banner__note {
  position: absolute;
  bottom: 15px;
  left: 0;
  color: var(--c-grey);
}
/* #endregion */

/* #region: Main layer */

.banner__main-image {
  background: url(../assets/main-image.png) center/cover no-repeat;
  width: 100%;
  height: 100%;
}

.banner__white-space {
  background-color: var(--c-white);
  height: 100%;
  width: 0%;
}
/* #endregion */

/* #region: Slider part */
.banner__slider-image {
  height: 100%;
  width: 0%;
}

.slider__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner__slider-text {
  position: absolute;
  display: inline;
  bottom: 200px;
  z-index: 1;
  opacity: 0;
  line-height: 1.2;
  
}

.slider__text-content {
  width: 50%;
  font-size: clamp(14px, 1em, var(--font-size-xs));
  line-height: 1.2;

}

.slider__text-button {
  display: inline;
  font-size: var(--font-size-xs);
  padding: 0;
  color: var(--c-grey);
  background: transparent;
  border: none;
  cursor: pointer;
}

.slider__navigation {
  position: absolute;
  left: 70px;
  bottom: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: 0;
}

.slider__navigation-page {
  font-family: var(--font-bold);
  margin-inline: 10px;
  color: var(--c-black);
}

.slider__navigation-prev,
.slider__navigation-next {
  font-size: 36px;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--c-black);
}


/* #endregion */

/* #region: Responsive */

@media (max-width: 1400px) {

  .banner__main-text {
    font-size: 30px;
  }
  .banner__main-text-logo {
    width: 130px;
  }
}

@media (max-width: 1200px) {
  .banner__text {
    top: 120px;
  }
  .banner__logo {
    width: 150px;
  }
  .banner__trademark {
    font-size: 36px;
  }
  .banner__main-text {
    font-size: var(--font-size-sm);
  }
  .banner__main-text-logo{
    width: 100px;
  }
}

@media (max-width: 992px) {
  .banner__text {
    top: 100px;
  }
  .slider__navigation,
  .banner__button {
    left: 35px;
  }
  .slider__text-content, 
  .slider__text-button {
    font-size: var(--font-size-xs);
  }
  .banner__button {
    font-size: var(--font-size-sm);
  }
  .banner__note {
    font-size: var(--font-size-xxs);
  }
  .banner__special-offer-product {
    font-size: var(--font-size-lg);
  }
  .banner__special-offer-price {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .banner__logo {
    width: 100px;
  }
  .banner__trademark {
    font-size: var(--font-size-xs);
  }
  .banner__main-text {
    font-size: 14px;
  }
  .banner__main-text-logo {
    width: 70px;
  }
  .slider__navigation,
  .banner__button {
    left: 28px;
  }
  .slider__text-content,
  .slider__text-button {
    font-size: 14px;
  }
  .banner__button {
    font-size: var(--font-size-xs);
  }
  .banner__note {
    font-size: var(--font-size-xxs);
  }
  .banner__special-offer-product {
    font-size: 30px;
  }
  .banner__special-offer-price {
    font-size: var(--font-size-xs);
  }
}

@media (max-width: 576px) {
  .banner {
    aspect-ratio: 1/1;
  }
  .banner__trademark {
    font-size: var(--font-size-xxs);
  }
  .slider__text-content,
  .slider__text-button {
    font-size: var(--font-size-xxs);
  }
  .banner__button {
    font-size: var(--font-size-xxs);
    border: 2px solid var(--c-black);
    left: 28px;
  }
  .banner__note {
    font-size: var(--font-size-xxxs);
  }
}
/* #endregion */